.site-header {
  background-color: #5c5c5c;
  color: white;

  .site-title {
    margin: 0;

    @media (min-width: 680px) {
      margin: 40px 0 0;
    }

    a {
      transition: none;
      border: none;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        color: rgba(255, 255, 255, 0.7);
        padding-left: 0;
      }
    }
  }
  .site-description {
    margin-bottom: 30px;
  }
}

.site-header .site-branding {
  padding: 20px;
  text-align: center;

  @media (min-width: 680px) {
    position: fixed;
    max-width: 25%;
    padding: 0 20px;
    text-align: left;
  }
}

.entry-header {
  margin-bottom: 20px;

  h1,
  h2 {
    margin: 0;
  }
}
